body {
  margin: 0;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.container {
  position: relative;
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* background: red; */
}

.headerBtnsContainer {
  position: relative;
  top: 10px;
  display: flex;
  width: 18rem;
  align-items: center;
  justify-content: space-between;
  /* outline: 1px solid red; */
}

.searchbarCntr {
  width: 80%;
  height: 2rem;
  display: flex;
  outline: 2px solid #161d1d;
  border-radius: 2px;
}

.searchbar {
  width: 80%;
  font-size: 16px;
  padding-left: 6px;
  border: none;
  
}

.searchBtn, .openMenuBtn, .openWeatherBtn{
  font-size: 28px;
  display: flex;
  align-items: center;
  cursor: pointer;
  /* flex-direction: column; */
}

.searchBtn { padding-left: 4px; }

.openWeatherBtn { 
  font-size: 35px; 
  outline: 2px solid #161d1d;
  border-radius: 2px;
  padding: 2px;
}

.logo { pointer-events: none; }

.cntrOpenWeather {
  position: relative;
  top: 20px;
  display: flex;
  width: 18rem;
  align-items: center;
  justify-content: right;
  /* background: red; */
}
/* 
        <div className='headerBtnsContainer'>
          <div className='openMenuBtn'><AiOutlineMenu className='logo'/></div>
          <div className='searchbarCntr'>
              <input className='searchbar' type='text' placeholder='Search Location'/>
              <div className='searchBtn'><AiOutlineSearch className='logo'/></div>
          </div> 
        </div>

        <div className='openWeatherBtn'><TiWeatherCloudy className='logo'' / */