@import url('https://fonts.googleapis.com/css2?family=Courier+Prime:wght@400;700&family=Open+Sans:wght@400;600;700;800&family=Titillium+Web:wght@600;700;900&display=swap');

body {
  margin: 0;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.container {
  position: relative;
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
  /* overflow-y: scroll; */
  font-family: 'Open Sans'; 
  /* background: red; */
  background: maroon;
}

.map-headerCntr {
  position: absolute;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center; 
}

.headerBtnsContainer {
  position: relative;
  top: 20px;
  display: flex;
  width: 18rem;
  align-items: center;
  justify-content: space-between;
  /* outline: 1px solid red; */
}

.searchbarCntr {
  width: 80%;
  height: 2rem;
  display: flex;
  outline: 2px solid #fff;
  border-radius: 2px;
}

.searchbar {
  width: 80%;
  font-size: 16px;
  padding-left: 6px;
  border: none;
  
}

.searchBtn, .openMenuBtn, .openWeatherBtn{
  font-size: 28px;
  display: flex;
  align-items: center;
  justify-content: center;
  /* outline: 1px solid red; */
  cursor: pointer;
  color: #fff;
  /* flex-direction: column; */
}

.searchBtn { 
  width: 20%;
  padding-left: 4px; }

.openWeatherBtn { 
  font-size: 35px; 
  outline: 2px solid #fff;
  border-radius: 2px;
  padding: 2px;
}

.logo { pointer-events: none; }

.cntrOpenWeather {
  position: relative;
  top: 35px;
  display: flex;
  width: 18rem;
  align-items: center;
  justify-content: right;
  /* background: red; */
}

.mapContainer {
  position: absolute;
  height: 100vh;
  width: 100vw; 
  /* z-index: 3; */
}

.map {
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
}

/* -- SAVED LOCS STYLING -- */

.savedLocsCntr, .currentWeatherCntr {
  position: absolute;
  background: #161d1d;
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 5;
  color: #fff;
  /* transform: translateX(200px); */
  /* outline: 3px solid #161d1d; */
}

.savedLocsCntr {
  overflow-x: hidden;
  overflow-y: scroll;
}

/* .savedLocsCntr { height: 200%; } */
.savedLocsCntr::-webkit-scrollbar, .wthrInfoCntr::-webkit-scrollbar { width: 10px; }

.savedLocsCntr::-webkit-scrollbar-thumb {
  background: #1e2428;
  border-radius: 20px;
}

.returnMainViewBtn {
  position: absolute;
  right: .8rem;
  top: 1rem;
  height: 2.5rem;
  width: 9rem;
  display: flex;
  font-size: 20px;
  font-family: 'Titillium Web';
  font-weight: 800;
  letter-spacing: 1px;
  justify-content: space-around;
  align-items: center;
  /* outline: 1px solid red; */
  border-radius: 2px;
  padding: 0px 2px 2px 10px;
  cursor: pointer;
}

.removeMainBtn {
  position: relative;
  bottom: 4rem;
  outline: 2px solid #fff;
  font-size: 20px;
  font-weight: 600;
  padding: 5px 20px;
  border-radius: 2px;
  cursor: pointer;
}

.returnMainViewBtn:hover, .setLocMain:hover, .removeLocBtn:hover, .saveWthrLocBtn:hover, .searchBtn:hover, .openWeatherBtn:hover, .removeMainBtn:hover  {
  color:#161d1d;
  background: #fff;
  transition: .1s linear;
}

.returnMainViewBtn:active, .setLocMain:active, .removeLocBtn:active, .saveWthrLocBtn:active, .searchBtn:active, .openWeatherBtn:active, .removeMainBtn:active {
  outline: none;
  color:#fff;
  background: #161d1d;
  transition: none;
}


.returnMainViewBtn .logo {
  position: relative;
  top: 2px;
  font-size: 30px;
}

.mainWthrLocCntr {
  position: relative;
  top: 4.5rem;
  width: 100%;
  height: 22rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* outline: 1px solid magenta; */
}

.wthrLocName, .crrntWthr {
  font-family: 'Titillium Web';
  font-weight: 800;
  width: 90%;
  text-align: center;
  letter-spacing: 2px;
  font-size: 35px;
  transition: .5s linear;
  /* outline: 1px solid green; */
}

.locCrrntWthr {
  position: relative;
  bottom: 10px;
  font-size: 6rem;
  height: 5rem;
  display: flex;
  align-items: center;
  /* outline: 1px solid red; */
}

.crrntWthr {
  position: relative;
  bottom: 20px;
  font-size: 30px;
  font-weight: 600;
  letter-spacing: 0;
  font-family: 'Courier Prime';
  /* outline: 1px solid red; */
}

.crrntWthrTxt {
  position: relative;
  bottom: 50px;
  font-size: 23px;
  width: 90%;
  font-weight: 600;
  text-align: center;
  /* outline: 1px solid yellow; */
}

.wthrHrlCntr {
  position: absolute;
  top: 30rem;
  width: 100%;
  height: 7.5rem;
  display: flex;
  outline: 1px solid blue;
  overflow-x: scroll;
  overflow-y: hidden;
}

.wthrHrlCntr::-webkit-scrollbar, .currentWeatherCntr .wthrHrlCntr::-webkit-scrollbar {
  width: 2px; 
}

.wthrHrlCntr::-webkit-scrollbar-thumb, .currentWeatherCntr .wthrHrlCntr::-webkit-scrollbar-thumb {
  background: rgba(22, 29, 29, .05);
  border-radius: 20px;
}

.wthrHrlCntr::-webkit-scrollbar-thumb { background: #272e33; }

.indHrlFrcst {
  position: relative;
  min-width: 6rem;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* outline: 1px solid red; */
  /* background: blue; */
  /* box-shadow: 2px 0px 1px #fff; */
  border-right: 2px solid #fff;
}

.timeWthr {
  position: relative;
  top: 2px;
  font-size: 20px;
  /* outline: 1px solid red; */
}

.indHrlIcon {
  position: relative;
  top: 2px;
  height: 2rem;
  font-size: 40px;
}

.frcstTemp {
  position: relative;
  /* top: 5px; */
}

.othrSavedLocsCntr {
  position: relative;
  top: 17rem;
  min-height: 20rem;
  width: 100%;
  padding-bottom: 10rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* outline: 1px solid  red; */
}

.savedLocsTitle {
  width: 90%;
  text-align: center;
  font-size: 25px;
  font-family: 'Titillium Web';
  font-weight: 800;
  letter-spacing: 2px;
  /* outline: 1px solid red; */
}

.locationsCntr {
  width: 100%;
  height: 60%;
  /* display: flex; */
  outline: 1px solid green;
}

.indSavedLoc {
  position: relative;
  height: 6rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* background: #666; */
  /* outline: 1px solid magenta; */
  /* box-shadow: 0px 2px 0px #fff, 0px -2px 0px #fff; */
  padding: 10px 0px;
  border-bottom: 2px solid #fff;
}

.indSavedLoc:nth-child(1) { border-top: 2px solid #fff; }

.locName {
  position: relative;
  bottom: .8rem;
  width: 100%;
  text-align: center;
  font-size: 20px;
  font-weight: 600;
  letter-spacing: 1px;
  /* outline: 1px solid red; */
}

.indLocBtns {
  position: relative;
  bottom: 2rem;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  /* outline: 1px solid blue; */
}

.setLocMain {
  font-size: 18px;
  font-weight: 600;
  padding: 2px 10px;
  border-radius: 2px;
  cursor: pointer;
  outline: 1px solid #fff;
}

.removeLocBtn {
  height: 1.5rem;
  width: 7rem;
  padding: 2px 2px;
  font-size: 18px;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: space-around;
  border-radius: 2px;
  cursor: pointer;
  outline: 1px solid #fff;
}

.removeLocBtn p { pointer-events: none; } 

.removeLocBtn .logo { font-size: 25px; }

/* -- CURRENT WEATHER STYLES -- */

.wthrInfoCntr {
  position: relative;
  height: 100vh;
  width: 100%;
  z-index: 3; 
  display: flex;
  flex-direction: column;
  align-items: center;
  background: rgba(22, 29, 29, .15);
  /* outline: 5px solid rgba(22, 29, 29, 1); */
  backdrop-filter: blur(10px);
  overflow-x: hidden;
  overflow-y: scroll;
}

.wthrInfoCntr::-webkit-scrollbar-thumb {
  background: rgba(22, 29, 29, .3);
  border-radius: 20px;
}

.currentWeatherCntr .wthrHrlCntr {
  position: absolute;
  top: 29.8rem;
  /* width: 90%; */
}

.currentWeatherCntr {
  /* display: block; */
  /* opacity: 0; */
  /* left: 200rem; */
  /* height: 100%; */
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  /* overflow-x: hidden; */
  transform: translateX(100rem);
  
}

.currentWeatherCntr .returnMainViewBtn {
  /* height: 200%; */
  /* position: fixed; */
  left: .8rem;
  right: 0px;
  padding: 0px 10px 2px 10px; 
} 

.saveWthrLocBtn {
  position: relative;
  bottom: 4rem;
  font-size: 20px;
  font-weight: 800;
  letter-spacing: 1px;
  outline: 2px solid #fff;
  border-radius: 2px;
  padding: 5px 20px;
  cursor: pointer;
}

.saveWthrLocBtn.active {
  background: #fff;
  color: #161d1d;
  pointer-events: none;
}

.ftrFrcstHeading {
  position: relative;
  top: 15rem;
  font-size: 25px;
  font-family: 'Titillium Web';
  font-weight: 800;
  text-align: center;
  letter-spacing: 3px;
  /* outline: 1px solid red; */
}

.ftrFrcstCntr {
  position: relative;
  top: 15rem;
  padding-bottom: 10rem;
  width: 100%;
  /* outline: 1px solid red; */
}

.indFrcst {
  height: 5rem;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 5px 0px;
  /* outline: 1px solid #fff; */
  /* box-shadow: 0px 3px 0px #fff; */
  border-bottom: 2px solid #fff;
}

.indFrcst:nth-child(1) { border-top: 2px solid #fff; }

.frcstDay, .lowTemp, .highTemp {
  font-size: 20px; 
  /* outline: 1px solid red; */
}

.frcstDay {
  width: 3rem;
  text-align: left;
  /* outline: 1px solid red; */
}

.WthrIcon {
  display: flex;
  font-size: 35px;
  /* outline: 1px solid red; */
}


.animBG {
  position: fixed;
  height: 100%;
  width: 100%;
  /* outline: 1px solid red; */
  /* z-index: 9; */
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  overflow: hidden;
}

.BG {
  width: 100%;
  height: 100%;
}

.BG.sunny { background: linear-gradient( #5bbce4, #45b3e0); }

.BG.night, .BG.partlyCloudy.night { background: linear-gradient( #0c1445, #38285c); }

.BG.partlyCloudy { background: linear-gradient( #5bbce4, #45b3e0);}

.BG.cloudy, .BG.rain{ background: linear-gradient( #dbdcdc, #97a5aa);}

.BG.snow { background: linear-gradient( #dbdcdc, #97a5aa);}

.BG.drizzle { background: linear-gradient( #dbdcdc, #5bbce4);}

.BG.thunderstorm { background: linear-gradient( #97a5aa, #273440); }

.sun, .moon {
  position: absolute;
  top: 1rem;
  right: 1rem;
  display: flex;
  align-items: center;
  font-size: 12rem;
  color: #fed553;
}

.moon { color: #fff; }

.partlyCloud, .cloud {
  position: absolute;
  font-size: 12rem;
  display: flex;
  z-index: 2;
  /* outline: 1px solid red; */
}

.partlyCloud:nth-child(3), .cloud:nth-child(7) {
  top: -2rem;
  right: -2rem;
  opacity: 1;
  color: #b8c1c4;
}

.partlyCloud:nth-child(4), .cloud:nth-child(8) {
  top: 5rem;
  left: -8rem;
  opacity: 1;
  color: #eef0f1;
}

.partlyCloud:nth-child(5), .cloud:nth-child(9) {
  top: -4rem;
  opacity: 1;
  color: #eef0f1;
}

.partlyCloud:nth-child(6), .cloud:nth-child(10) {
  top: 8rem;
  right: -11rem;
  opacity: 1;
  color: #adb7bc;
}

.partlyCloud:nth-child(7), .cloud:nth-child(11) {
  top: 8rem;
  right: 2rem;
  opacity: 1;
  color: #d8dddf;
}

.partlyCloud:nth-child(2), .cloud:nth-child(6) {
  top: -.8rem;
  left: -2rem;
  opacity: 1;
  color: #a2aeb3;
}

.partlyCloud:nth-child(1) {
  top: -2rem;
  left: -12rem;
  color: #6d7f85;
}

.partlyCloud:nth-child(8), .cloud:nth-child(12) {
  top: -2rem;
  left: -15rem;
  opacity: 1;
  color: #d8dddf;
}

.cloud:nth-child(6) { top: 6rem; }

.cloud:nth-child(2) { 
  top: 3rem;
  right: 2rem; 
  color: #6d7f85;
}

.cloud:nth-child(3) {
  top: -4rem;
  right: 2rem;
  color: #414b50;
}

.cloud:nth-child(4) {
  top: -4rem;
  left: -8.5rem;
  color: #384145;
}

.cloud:nth-child(5) {
  color: #77888f;
  top: 2rem;
  left: -7rem;
}

.cloud:nth-child(1) {
  color: #30373a;
  top: 1.5rem;
  left: 2rem;
}

.cloud:nth-child(13) {
  color: #30373a;
  top: 1.5rem;
  left: -8rem;
}

.dropsCntr, .cloudsCntr {
  position: absolute;
  height: 100%;
  width: 100%;
  /* background: red; */
}

.drop, .flake, .mist{
  position: absolute;
  top: 3rem;
  /* transform: translateX(100px);  */
  /* font-size: 1.2rem; */
  color: #92bad2; 
  /* left: 2rem; */
  /* transform: rotate(20deg); */
  z-index: 1; 
}

.flake, .mist { color: #fffafa; }

.mist { font-size: 8rem; }

.drop:nth-child(even) {
  color: #53789e;
}

.BG.thunderstorm .cloud:nth-child(3), .BG.thunderstorm .cloud:nth-child(8), .BG.thunderstorm .cloud:nth-child(11) { color: #2d3656; }
.BG.thunderstorm .cloud:nth-child(12), .BG.thunderstorm .cloud:nth-child(9) { color: #273440; }

.lightning{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #fff;
  background-position: center center;
  background-origin: content-box;
  background-size: cover;
  background-attachment: fixed;
  -webkit-filter: brightness(3);
  filter: brightness(3);
  -o-filter: brightness(3);
  -moz-filter: brightness(3);
  /* z-index: -1; */
}

/*Now just a opacity animation*/
.flashit{
  -webkit-animation: flash ease-out 7s infinite;
  -moz-animation: flash ease-out 7s infinite;
  animation: flash ease-out 7s infinite;
  animation-delay: 2s;
}

@-webkit-keyframes flash {
	from { opacity: 0; } 
  92% { opacity: 0; }
	93% { opacity: 0.6; }
  94% { opacity: 0.2; }
  96% { opacity: 0.9; } 
	to { opacity: 0; }
}

@keyframes flash {
	from { opacity: 0; } 
    92% { opacity: 0; }
	93% { opacity: 0.6; }
    94% { opacity: 0.2; }
    96% { opacity: 1; } 
	to { opacity: 0; }
}

.mist:nth-child(1) {
  top: 2rem;
  left: 2rem;
}

.mist:nth-child(2) {
  top: 8rem;
  left: 10rem;
}

.mist:nth-child(3) {
  top: 14rem;
  left: 1rem;
}

.mist:nth-child(4) {
  top: 22rem;
  left: 13rem;
}

.mist:nth-child(5) {
  top: 28rem;
  left: 5rem;
}

@media screen and (min-width: 500px ) {
  .headerBtnsContainer { width: 28rem; }

  .searchbarCntr { 
    height: 2.25rem; 
    /* width: 90%; */
  }

  .searchbar {
    width: 85%;
  }

  .searchBtn {
    width: 15%;
    padding: 0;
    font-size: 32px;
  }

  .openMenuBtn, .openWeatherBtn {
    font-size: 40px;
  }

  .openWeatherBtn {
    position: absolute;
    top: 25px;
    right: -5.15rem;
    padding: 2px 7px;
  }

  .sun, .moon {
    top: 2rem;
    right: 5rem;
  }

  .partlyCloud:nth-child(3), .cloud:nth-child(7) { right: 5rem; }
  .partlyCloud:nth-child(4), .cloud:nth-child(8) { left: -1rem; }
  .partlyCloud:nth-child(6), .cloud:nth-child(10) { right: -4rem; }
  .partlyCloud:nth-child(7), .cloud:nth-child(11) { right: 9rem; }
  .partlyCloud:nth-child(2), .cloud:nth-child(6) { left: 5rem; }
  .partlyCloud:nth-child(1) { left: -5rem; }
  .partlyCloud:nth-child(8), .cloyd:nth-child(12) { left: -8rem; }

  .cloud:nth-child(2), .cloud:nth-child(3) { right: 3rem; }
  .cloud:nth-child(4) { right: -1.5rem; }
  .cloud:nth-child(1) { left: 6rem; }
  .cloud:nth-child(13) { left: 7rem; }
  
  .mist:nth-child(1) { left: 8rem; }
  .mist:nth-child(2) { left: 20rem; }
  .mist:nth-child(3) { left: 4rem; }
  .mist:nth-child(4) { left:23rem; }
  .mist:nth-child(5) { left: 8rem; }
}

@media screen and  (min-width: 700px) {
  .headerBtnsContainer { width: 32rem; }

  .openWeatherBtn { right: -6.9rem; }

  .returnMainViewBtn { right: 3.2rem; }

  .wthrHrlCntr, .currentWeatherCntr .whtrHrlCntr { width: 87%; }

  .othrSavedLocsCntr, .ftrFrcstCntr { width: 80%; }

  .currentWeatherCntr .returnMainViewBtn { left: 3.2rem; }

  .partlyCloud:nth-child(3), .cloud:nth-child(7) { right: 12rem; }
  .partlyCloud:nth-child(4), .cloud:nth-child(8) { left: 6rem; }
  .partlyCloud:nth-child(6), .cloud:nth-child(10) { right: 3rem; }
  .partlyCloud:nth-child(7), .cloud:nth-child(11) { right: 16rem; } /* Finished here */
  .partlyCloud:nth-child(2), .cloud:nth-child(6) { left: 12rem; }
  .partlyCloud:nth-child(1) { left: 2rem; }
  .partlyCloud:nth-child(8), .cloyd:nth-child(12) 
  { 
    top: 3rem;
    left: -1rem; 
  }

  .cloud:nth-child(12) { left: 8rem; }
  .cloud:nth-child(4) { right: 6.5rem; }
  .cloud:nth-child(1) { left: 13rem; }
  .cloud:nth-child(10) { right: 6rem; }

  .mist { font-size: 12rem; }


  .mist:nth-child(1) { left: 10rem; }
  .mist:nth-child(2) { left: 27rem; }
  .mist:nth-child(3) { left: 7rem; }
  .mist:nth-child(5) { left: 14rem; }
}

@media screen and (min-width: 1000px) {
  
  .container {
    flex-direction: row;
    overflow: hidden;
  }

  .map-headerCntr {
    position: relative;
    width: 100%;
    /* z-index: 8; */
    /* outline: 1px solid red; */
    /* background: red; */
  }

  .openMenuBtn {
    pointer-events: none;
    opacity: 0;
  }

  .savedLocsCntr {
    position: relative;
    /* height: 100%; */
    width: 32rem;
    /* padding-bottom: 4rem; */
    /* opacity: 0; */
  }

  .searchbarCntr {
    position: absolute;
    left: -1rem;
    /* height: 2.8 rem; */
  }

  .searchbar { 
    font-size: 17px;
    font-weight: 600;
  }

  #savedLocsReturn {
    opacity: 0;
    pointer-events: none;
  }

  .mainWthrLocCntr {
    top: .5rem;
  }

  .wthrHrlCntr { 
    top: 28rem;
    width: 100%; 
  }

  .currentWeatherCntr .wthrHrlCntr {
    top: 27.5rem;
    width: 90%;
  }
 
  .locationsCntr { width: 125%; }

  .openWeatherBtn {
    top: -3.2rem;
    font-size: 35px;
    padding: 0px 7px;
  }

  .currentWeatherCntr {
    top: 0px;
    right: 0; 
    pointer-events: auto;
    width: 700px;
    height: 100%; 
    padding-bottom: 2rem;
  }
  
  .wthrInfoCntr {
    overflow-x: hidden;
    overflow-y: scroll;
    z-index: 5;
  }

  .animBG {
    width: 700px;
  }

  .currentWeatherCntr .returnMainViewBtn {
    left: 2rem;
    z-index: 5;
  }

}