@import url('https://fonts.googleapis.com/css2?family=Courier+Prime:wght@400;700&family=Open+Sans:wght@400;600;700;800&family=Titillium+Web:wght@600;700;900&display=swap');

body {
  margin: 0;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.container {
  position: relative;
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'Open Sans'; 
  /* background: red; */
}

.headerBtnsContainer {
  position: relative;
  top: 20px;
  display: flex;
  width: 18rem;
  align-items: center;
  justify-content: space-between;
  /* outline: 1px solid red; */
}

.searchbarCntr {
  width: 80%;
  height: 2rem;
  display: flex;
  outline: 2px solid #fff;
  border-radius: 2px;
}

.searchbar {
  width: 80%;
  font-size: 16px;
  padding-left: 6px;
  border: none;
  
}

.searchBtn, .openMenuBtn, .openWeatherBtn{
  font-size: 28px;
  display: flex;
  align-items: center;
  cursor: pointer;
  color: #fff;
  /* flex-direction: column; */
}

.searchBtn { padding-left: 4px; }

.openWeatherBtn { 
  font-size: 35px; 
  outline: 2px solid #fff;
  border-radius: 2px;
  padding: 2px;
}

.logo { pointer-events: none; }

.cntrOpenWeather {
  position: relative;
  top: 35px;
  display: flex;
  width: 18rem;
  align-items: center;
  justify-content: right;
  /* background: red; */
}

.mapContainer {
  position: absolute;
  height: 90vh;
  width: 100vw; 
  z-index: 3;
}

.map {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
}

/* -- SAVED LOCS STYLING -- */

.savedLocsCntr, .currentWeatherCntr {
  position: absolute;
  background: #161d1d;
  height: 200%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 5;
  color: #fff;
  outline: 3px solid #161d1d;
}

.returnMainViewBtn {
  position: absolute;
  right: .8rem;
  top: 1rem;
  height: 2.5rem;
  width: 9rem;
  display: flex;
  font-size: 20px;
  font-family: 'Titillium Web';
  font-weight: 800;
  letter-spacing: 1px;
  justify-content: space-around;
  align-items: center;
  /* outline: 1px solid red; */
  border-radius: 2px;
  padding: 0px 2px 2px 10px;
  cursor: pointer;
}

.returnMainViewBtn:hover, .setLocMain:hover, .removeLocBtn:hover {
  color:#161d1d;
  background: #fff;
  transition: .1s linear;
}

.returnMainViewBtn:active, .setLocMain:active, .removeLocBtn:active {
  color:#fff;
  background: #161d1d;
  transition: none;
}


.returnMainViewBtn .logo {
  position: relative;
  top: 2px;
  font-size: 30px;
}

.mainWthrLocCntr {
  position: relative;
  top: 4.5rem;
  width: 100%;
  height: 22rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* outline: 1px solid magenta; */
}

.wthrLocName, .crrntWthr {
  font-family: 'Titillium Web';
  font-weight: 800;
  width: 90%;
  text-align: center;
  letter-spacing: 2px;
  font-size: 35px;
  /* outline: 1px solid green; */
}

.locCrrntWthr {
  position: relative;
  bottom: 10px;
  font-size: 6rem;
  height: 5rem;
  display: flex;
  align-items: center;
  /* outline: 1px solid red; */
}

.crrntWthr {
  position: relative;
  bottom: 20px;
  font-size: 30px;
  font-weight: 600;
  letter-spacing: 0;
  font-family: 'Courier Prime';
  /* outline: 1px solid red; */
}

.crrntWthrTxt {
  position: relative;
  bottom: 50px;
  font-size: 23px;
  width: 90%;
  text-align: center;
  /* outline: 1px solid yellow; */
}

.wthrHrlCntr {
  position: relative;
  top: 5.5rem;
  width: 100%;
  height: 7.5rem;
  display: flex;
  /* outline: 1px solid blue; */
  overflow-x: scroll;
  overflow-y: hidden;
}

.wthrHrlCntr::-webkit-scrollbar {
  width: 0px; 
}

.indHrlFrcst {
  position: relative;
  min-width: 6rem;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* outline: 1px solid red; */
  /* background: blue; */
  box-shadow: 2px 2px 1px #fff;
}

.timeWthr {
  position: relative;
  top: 2px;
  font-size: 20px;
  /* outline: 1px solid red; */
}

.indHrlIcon {
  position: relative;
  top: 2px;
  height: 2rem;
  font-size: 40px;
}

.frcstTemp {
  position: relative;
  /* top: 5px; */
}

.othrSavedLocsCntr {
  position: relative;
  top: 7rem;
  min-height: 20rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* outline: 1px solid  red; */
}

.savedLocsTitle {
  width: 90%;
  text-align: center;
  font-size: 25px;
  font-family: 'Titillium Web';
  font-weight: 800;
  letter-spacing: 2px;
  /* outline: 1px solid red; */
}

.locationsCntr {
  width: 100%;
  height: 60%;
  /* display: flex; */
  /* outline: 1px solid green; */
}

.indSavedLoc {
  position: relative;
  height: 6rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* background: #666; */
  /* outline: 1px solid magenta; */
  box-shadow: 2px 2px 2px #fff, -2px -2px 2px #fff;
}

.locName {
  position: relative;
  bottom: .8rem;
  width: 100%;
  text-align: center;
  font-size: 20px;
  font-weight: 600;
  letter-spacing: 1px;
  /* outline: 1px solid red; */
}

.indLocBtns {
  position: relative;
  bottom: 2rem;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  /* outline: 1px solid blue; */
}

.setLocMain {
  font-size: 18px;
  font-weight: 600;
  padding: 2px 10px;
  border-radius: 2px;
  cursor: pointer;
  outline: 1px solid #fff;
}

.removeLocBtn {
  height: 1.5rem;
  width: 7rem;
  padding: 2px 2px;
  font-size: 18px;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: space-around;
  border-radius: 2px;
  cursor: pointer;
  outline: 1px solid #fff;
}

.removeLocBtn .logo { font-size: 25px; }

/* -- CURRENT WEATHER STYLES -- */

.currentWeatherCntr .returnMainViewBtn {
  left: .8rem;
  right: 0px;
  padding: 0px 10px 2px 10px; 
} 

.saveWhtrLocBtn {
  position: relative;
  bottom: 4rem;
  font-size: 20px;
  font-weight: 600;
  letter-spacing: 1px;
  outline: 2px solid #fff;
  border-radius: 2px;
  padding: 5px 20px;
}

.currentWeatherCntr .wthrHrlCntr {
  top: 8rem;
}

.ftrFrcstHeading {
  position: relative;
  top: 8rem;
  font-size: 25px;
  font-family: 'Titillium Web';
  font-weight: 800;
  letter-spacing: 3px;
  /* outline: 1px solid red; */
}

.ftrFrcstCntr {
  position: relative;
  top: 7.5rem;
  width: 100%;
  /* outline: 1px solid red; */
}

.indFrcst {
  height: 5rem;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  /* outline: 1px solid #fff; */
  box-shadow: 0px 3px 0px #fff;
}

.indFrcst:nth-child(1) { box-shadow: 0px 3px 0px #fff, 0px -3px 0px #fff; }

.frcstDay, .lowTemp, .highTemp {
  font-size: 20px; 
  /* outline: 1px solid red; */
}

.WthrIcon {
  display: flex;
  font-size: 35px;
  /* outline: 1px solid red; */
}


.animBG {
  position: absolute;
  height: 100%;
  width: 100%;
  /* background: linear-gradient( #87ceeb, #45b3e0); */
  z-index: 9;
}

.BG {
  width: 100%;
  height: 100%;
}

.BG.sunny { background: linear-gradient( #5bbce4, #45b3e0); }

.BG.partlyCloudy { background: linear-gradient( #5bbce4, #45b3e0);}

.BG.cloudy { background: linear-gradient( #dbdcdc, #97a5aa);}

.BG.drizzle { background: linear-gradient( #dbdcdc, #5bbce4);}

.sun {
  position: absolute;
  top: 1rem;
  right: 1rem;
  display: flex;
  align-items: center;
  font-size: 12rem;
  color: #fed553;
}

.partlyCloud, .cloud {
  position: absolute;
  font-size: 12rem;
  display: flex;
  z-index: 2;
  /* outline: 1px solid red; */
}

.partlyCloud:nth-child(3), .cloud:nth-child(7) {
  top: -2rem;
  right: -2rem;
  opacity: 1;
  color: #b8c1c4;
}

.partlyCloud:nth-child(4), .cloud:nth-child(8) {
  top: 5rem;
  left: -8rem;
  opacity: 1;
  color: #eef0f1;
}

.partlyCloud:nth-child(5), .cloud:nth-child(9) {
  top: -4rem;
  opacity: 1;
  color: #eef0f1;
}

.partlyCloud:nth-child(6), .cloud:nth-child(10) {
  top: 8rem;
  right: -11rem;
  opacity: 1;
  color: #adb7bc;
}

.partlyCloud:nth-child(7), .cloud:nth-child(11) {
  top: 8rem;
  right: 2rem;
  opacity: 1;
  color: #d8dddf;
}

.partlyCloud:nth-child(2), .cloud:nth-child(6) {
  top: -.8rem;
  left: -2rem;
  opacity: 1;
  color: #a2aeb3;
}

.partlyCloud:nth-child(1) {
  top: -2rem;
  left: -12rem;
  color: #6d7f85;
}

.partlyCloud:nth-child(8), .cloud:nth-child(12) {
  top: -2rem;
  left: -15rem;
  opacity: 1;
  color: #d8dddf;
}

.cloud:nth-child(6) { top: 6rem; }

.cloud:nth-child(2) { 
  top: 3rem;
  right: 2rem; 
  color: #6d7f85;
}

.cloud:nth-child(3) {
  top: -4rem;
  right: 2rem;
  color: #414b50;
}

.cloud:nth-child(4) {
  top: -4rem;
  left: -8.5rem;
  color: #384145;
}

.cloud:nth-child(5) {
  color: #77888f;
  top: 2rem;
  left: -7rem;
}

.cloud:nth-child(1) {
  color: #30373a;
  top: 1.5rem;
  left: 2rem;
}

.cloud:nth-child(13) {
  color: #30373a;
  top: 1.5rem;
  left: -8rem;
}

.dropsCntr {
  position: absolute;
  height: 100%;
  width: 100%;
  /* background: red; */
}

.drop {
  position: absolute;
  top: 3rem;
  /* transform: translateX(100px);  */
  /* font-size: 1.2rem; */
  color: #92bad2; 
  /* left: 2rem; */
  /* transform: rotate(20deg); */
  z-index: 1; 
}

.drop:nth-child(even) {
  color: #53789e;
}



/*  < <div className='drop'><GiWaterDrop /></div>
                <div className='drop'><GiWaterDrop /></div>
                <div className='drop'><GiWaterDrop /></div>
                <div className='drop'><GiWaterDrop /></div>
                <div className='drop'><GiWaterDrop /></div>
                <div className='drop'><GiWaterDrop /></div>
                <div className='drop'><GiWaterDrop /></div>
                <div className='drop'><GiWaterDrop /></div>
                <div className='drop'><GiWaterDrop /></div>
*/